#container1 {
	width: 100%;
	margin-top: 25px;
	height: 120px;
	background-color: green;
}

#container2 {
	margin-top: 30px;
	width: 250px;
	height: 600px;
	background-color: yellow;
}

#myCanvas{
	margin-top: 20px;
	margin-left: 130px;
}

#body {
    background-size: auto;
}
